# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Arquivos de dependências
node_modules/
venv/
__pycache__/
*.pyc

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Arquivos de build
dist/
build/
*.zip 